*ReSharper*
.idea
*.user
*.suo
*.dotCover
obj
bin
*~HEAD
**/*~HEAD
logs
ndepend
log-file.txt
Bin
src/SevenDigital.API.PublicPrecompiled
output/*.zip
src/SevenDigital.API.Public/static/documentation/7digital*.html
*.cache
TestResult.xml
/lib/1.0.0/SevenDigital.Check.dll
/lib/1.0.0/SevenDigital.Check.pdb
/lib/_latest/SevenDigital.Check.dll
/lib/_latest/SevenDigital.Check.pdb
/version.txt
*crunch*.local.xml
/sql/sqlOutput.txt
*.docstates
*.ncrunch*
_NCrunch_*
src/SevenDigital.Api.Purchasing.Public/*.dll
packages/*
!packages/repositories.config
!deployment-batch-scripts/bin
